* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

/* стили header */
.header {
    width: 100%;
    height: 252px;
    background-image: url(header.png);
    background-size: cover;
    z-index: 0;
    box-shadow: inset 0 0 0 200vw rgba(0, 0, 0, 0.8);
    position: relative;
}
.header__wraper {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    margin-left: 131px;
    margin-top: 40px;
}
.header__menu {
    margin-top: 52px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
}
.header__menu a {
    text-decoration: none;
    color: white;
    padding: 50px;
}
a:hover{
    color: turquoise;
}
.header__number {
    margin-top: 50px;margin-right: 130px;
}
.header__number .number {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}
.header__number .text {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: right;
color: #FFFFFF;
}

h1 {
margin-left: 128px;
margin-top: 50px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
color: #FFFFFF;
}



/* стили сортировки под header  */
.sorting {
    margin-left: 128px;
    margin-top: 37px;
}
.sorting_p {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
color: #000000;
}
.sorting_price {
margin-left: 48px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #000000;
}
select  {
    border: none;
    outline: none;
}

.sorting_age {
    margin-left: 55px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #000000;
}




/* стили основного блока  */
.main {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    width: 1180px;
    margin: 0 auto;
    margin-top: 38px;
}

.main_list {
    border: 1px solid red;
    /* height: 521px; */
    /* width: 380px; */

}

.main_list_img {
    position: relative;
    border: 1px solid blue;
    width: 380px;
height: 264px;
    
  
}
.main_list_img .main_list_img_main{
    width: 100%;
    
} 
/* .main_list_img_discount{
    position: absolute;
    left: 38px;
    top: 34px;
    border-radius: 10px;
     width: 78px;
    height: 39px;;
    background-color: #E52D2D;
} */
/* .main_list_img_discount p {
margin-top: 9px;
text-align: center;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: white;
} */
/* .main_list_img_like {
    position: absolute;
    width: 46px;
    height: 46px;
    right: 32px;
    top: 37px;
} */

.main_list_content {
    border: 1px solid green;
    background-color:  #F3F3F3;
    width: 380px;
height: 192px;
}
/* .main_list_content h2 {
    margin-top: 29px;
    margin-left: 29px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #000000;
} */

.main_list_btn {
    height: 10px;
    border: 1px solid red;
    width: 380px;
    background-color: burlywood;
}

